*{
	margin:0;
	padding:0;
	align-items: center;
}
body{
	background-image: url(../frontend/css/app.jpeg);
	background-repeat: no-repeat;
	background-size:cover;
}
.apply{
	width:50%;
	margin: auto;
	margin-top: 30px;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}
#apply{
	padding: 10px;
}
h2{
	color: white;
	padding: 10px;
	background-color:#000;
	text-align:center;
}
h3{
	font-size:18px;
	font-family: sans-serif;
	color: #FFF8DC;
	padding: 20px;
	text-align: center;
}
label{
	font-size:15px;
	font-family: sans-serif;
	color: #FFF8DC;
	padding:5px;
	text-align: center;
}
h5{
	font-size:20px;
	font-family: sans-serif;
	padding:5px;
	color: #FFF8DC;
	text-align: center;
}

#io{
width:15%;
padding:5px;
border: none;
outline: 0;
align-items: center;
margin-left: 65px;
}
#WFH{
width: 15%;
padding:5px;
border: none;
outline: 0;
align-items: center;
margin-left: 65px;
}
#tec{
width: 95%;
padding:5px;
border: none;
outline: 0;
align-items: center;
margin-left: 20px;
}
#sub{
	width:95%;
	padding: 10px;
	background-color:#DC144C;
	color: #fff;
	font-size: 20px;
	outline: 0;
	border: none;
	align-items: center;
	margin-left: 20px;
}

#edu{
width:90%;
padding: 10px;
border: none;
outline: 0;
margin-left: 20px;
}

#PREF{
width:95%;
padding: 10px;
border: none;
outline: 0;
margin-left: 20px;
}
