body{
	background-image: url(../frontend/css/reg.jpeg);
	background-repeat: no-repeat;
	background-size:cover;
}
.simple-form{
	text-align: center;
	margin: 100px 400px;
}
#registration{
	width: 100%;
	background-color: #051019;
	opacity: 0.8;
	padding: 50px 0px;
}
h2{
	color:#fff;
	font-size: 30px;
}
#button{
	width: 250px;
	padding: 10px;
	border-radius: 5px;
}
#ph{
	outline:0px;
	width:50px;
	padding: 10px;
	border-radius: 5px;
}
#phone{
	width: 250px;
	padding: 10px;
	border-radius: 5px;
	outline: 0px;
}
#rd{

}
#but{
	color:white;
	font-size:18px;
}
#butt{
	width: 250px;
	padding:10px;
	border-radius: 5px;
	outline: 0px;
	font-family: sans-serif;
	font-size: 22px;
}
